body {
  background-color: #c9b5ab;
  line-height: 1.5;
  font-weight: normal;
}

.beta {
  font-style: italic;
}

h1, h2 {
  font-family: "PT Sans", sans-serif;
  font-size: 1.5rem;
  color: #3f1622;
}

p, figcaption, dl, ul, footer {
  font-family: "PT Serif", serif;
}

.wiki, a {
  color: #8f2440;
}

a {
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #3f1622;
}

header ol {
  list-style-type: none;
}
