html {
  font-family: "PT Sans", sans-serif;
  line-height: 1.596;
}

body {
  background-color: #c9b5ab;
  font-weight: normal;
  color: #222;
}

img {
  width: 100%;
}

i {
  font-style: italic;
}

h1, h2 {
  font-size: 1.5rem;
  color: #3f1622;
}

figcaption {
  text-align: center;
  font-style: italic;
}

p, figcaption, dl, ul, footer {
  font-family: "PT Serif", serif;
}

a {
  color: #8f2440;
  font-size: 1.125rem;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #3f1622;
}

header ol {
  list-style-type: none;
}

.beet {
  font-weight: bold;
}
